ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=studyroom;Username=postgres;Password=postgres
JwtSettings__Secret=YourSuperSecretKeyHereChangeInProduction!@#$%^&*()
JwtSettings__Issuer=StudyRoomAPI
JwtSettings__Audience=StudyRoomApp
JwtSettings__ExpiryMinutes=1440
Cors__Origins__0=http://localhost:4200
